---
name: test 
on:
  workflow_dispatch:

permissions:
  contents: write
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run a command
        shell: pwsh
        run: Write-Host "Hello World"
